.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  position: relative;
}
.title {
  margin-top: 130px;
  font-weight: 800;
  font-size: 4.5em;
  line-height: 120%;
  color: #0D2843;
  @media (max-width: 1200px) {
    margin-top: 70px;
  }
  @media (max-width: 992px) {
    margin-top: 40px;
    font-size: 2.5em;
  }
}

.text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 160%;
  color: #0D2843;
  opacity: 0.6;
  max-width: 450px;
  text-align: center;
  @media (max-width: 992px) {
    margin-top: 20px;
    font-size: 1em;
  }
}

.image {
  margin-top: 90px;
  position: relative;
  &::before {
    content: '';
    background: rgba(3, 11, 27, 0.7);
    opacity: 0.3;
    filter: blur(76px);
    border-radius: 10px;
    position: absolute;
    width: 80%;
    height: 40%;
    top: 20%;
    left: 10%;
    z-index: -1;
  }
  & img {
    max-width: calc(100% - 10px);
  }
  @media (max-width: 992px) {
    margin-top: 60px;
  }
  @media (max-width: 500px) {
    margin-top: 30px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  max-width: 1080px;
  margin: 30px auto;
  @media (max-width: 1200px) {
    margin-top: 25px;
    gap: 25px;
  }
  @media (max-width: 992px) {
    margin-top: 15px;
  }
  @media (max-width: 500px) {
    flex-direction: column;
    align-items: center;
    max-width: 280px;
  }
}
